<nav>
    <div class="site-title">
        <a href="/">Custom App Express</a>
    </div>
    <ul class="nav-items">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>